html, body {
  height: 100%;
  position: relative;
  font-size: 10px;
  opacity: .99;
}

body {
  background: url("../img/background.jpg");
  color: $black;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  height: 100%;
  line-height: 1.2;
  min-width: 310px;
  width: 100%;
}

.bold_text {
  font-weight: bold;
  font-style: normal;
}

.italic_text {
  font-weight: normal;
  font-style: italic;
}

.bold_italic {
  font-weight: bold;
  font-style: italic;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  &::before {
    background: url("../img/shadow_up.png") repeat-x left top;
    background-size: contain;
    content: " ";
    display: block;
    height: 290px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -3;
  }
  &::after {
    background: url("../img/shadow_down.png") repeat-x left top;
    background-size: contain;
    content: " ";
    display: block;
    height: 224px;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -2;
  }
}

.container {
  box-sizing: border-box;
  font-size: 1.4rem;
  margin: auto;
  padding: 10px;
  width: 100%;
}

.heading {
  color: $white;
  font-family: "Exo2.0-Thin";
  font-weight: normal;
  font-size: 3.6rem;
  margin: 0 0 23px;
  text-align: center;
}