html {
  font-size: 10px;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  color: $black;
  font-size: 1.4rem;
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  line-height: 1.2;
  min-width: 310px;
}

.bold_text {
  font-weight: bold;
  font-style: normal;
}

.italic_text {
  font-weight: normal;
  font-style: italic;
}

.bold_italic {
  font-weight: bold;
  font-style: italic;
}
// два flex нужны для выравнивания по центру в ie, в chrome и FF всё прекрасно выравнивается и одним
.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to top, black -50%, transparent 40%, black 150%),
  linear-gradient(to bottom, black -50%, transparent 40%, black 150%),
  url(../img/background.jpg);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1140px;
  align-content: center;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 10px 10px 18px;
  min-height: 100vh;
}

.heading {
  color: $white;
  font-family: "Exo2.0-Thin";
  font-weight: normal;
  font-size: 3.6rem;
  margin: 0 0 23px;
  text-align: center;
  width: 100%;
}