// создание фона из svg, с заменой некоторых символов для поддержки ie, safari и FF
// замена символов
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
        str-replace(str-slice($string, $index +
        str-length($search)), $search, $replace);
  }
  @return $string;
}

// замена цветов svg на свои
@function changeColor($color1: $white, $color2: $default, $borderWidth: 4) {
  @return '<svg width="320" height="480" xmlns="http://www.w3.org/2000/svg"><path fill="' + $color1 + '" stroke="' + $color2 + '" stroke-width="' + $borderWidth +'" d="M4 469c3 7 0 4 7 7h298c4 0 7-3 7-7v-458c-3-7 0-4-7-7h-263l-42 42v423"/></svg>';
}

// вызов вставки svg
@function svg-url($color1, $color2) {
  $svg: changeColor($color1, $color2);
  $encoded: '';
  $slice: 2000;
  $index: 0;
  $loops: ceil(str-length($svg)/$slice);
  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    $chunk: str-replace($chunk, '"', '\'');
    $chunk: str-replace($chunk, '<', '%3C');
    $chunk: str-replace($chunk, '>', '%3E');
    $chunk: str-replace($chunk, '&', '%26');
    $chunk: str-replace($chunk, '#', '%23');
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }
  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

// пакет
.package {
  flex-basis: 320px;
  min-width: 280px;
  overflow: hidden;
}

.package + .package {
  margin-left: 10px;
}

.package__content {
  position: relative;
  cursor: pointer;
  height: 480px;
  padding: 18px 10px 10px 49px;
  transition: all .3s linear;
  background-image: svg-url($white, $default);
  &::after {
    content: " ";
    display: block;
    height: 268px;
    left: 5px;
    position: absolute;
    bottom: 5px;
    width: 272px;
    background: url(../img/cats.png) bottom left no-repeat;
    border-bottom-left-radius: 6px;
  }
}

// текст в шапке пакета
.package__heading {
  margin: 0;
  color: $gray;
  font-size: 1.6rem;
  line-height: 30px;
  margin: 0;
  overflow: hidden;
  height: 30px;
}

.package__heading--default {
  display: block;
  position: relative;
  transition: all .1s linear;
}

.package__heading--selected-hover {
  display: block;
  color: $selected-hover;
}

// название пакета
.package__name {
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.package__taste {
  display: block;
  font-size: .5em;
  line-height: 1;
  margin: 0;
  padding-left: 2px;
}

.package__text {
  margin: 17px 0;
}

// вес пакета
.package__weight {
  transition: all .1s linear;
  background: $default;
  border-radius: 50%;
  bottom: 14px;
  color: $white;
  display: block;
  font-size: 4.2rem;
  line-height: .97;
  height: 80px;
  padding-top: 10px;
  position: absolute;
  right: 12px;
  text-align: center;
  width: 80px;
  z-index: 1;
}

.package__weight-units {
  display: block;
  font-size: .5em;
  line-height: 1;
}

// нижняя строка под пакетом
.package__title {
  color: $white;
  cursor: default;
  font-size: 1.3rem;
  font-weight: normal;
  margin: 13px 0 0;
  text-align: center;
}

.package__title--selected {
  display: none;
}

.package__title--disabled {
  color: $gold;
  display: none;
}

// ссылка в нижней строке
.package__link {
  color: $default;
  transition: all .3s linear;
  &:link,
  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: $default;
    transition: all .1s linear;
  }
}

// стили пакета при наведении
.package--hover {
  .package__content {
    background-image: svg-url($white, $default-hover);
  }
  .package__weight {
    background: $default-hover;
  }
}

// стили для выбранного пакета
.package--selected {
  .package__content {
    background-image: svg-url($white, $selected);
  }
  .package__weight {
    background: $selected;
  }
}

// стили для выбранного пакета при наведении
.package--selected.package--hover {
  .package__content {
    background-image: svg-url($white, $selected-hover);
  }
  .package__weight {
    background: $selected-hover;
  }
  .package__heading--default {
    margin-top: -30px;
  }
}

// стили для неактивного пакета
.package--disabled {
  .package__content {
    background-image: svg-url($white, $disabled);
    &::before {
      content: " ";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
      background-image: svg-url(rgba(242, 242, 242, .5), rgba(242, 242, 242, .5));
    }
  }
  .package__weight {
    background: $disabled;
  }
  .package__title--default {
    display: none;
  }
  .package__title--disabled {
    display: block;
  }
}

// предзагрузка фонов, для отсутствия дёрганья в ie и FF
.package__fast-load-img {
  position: absolute;
  z-index: -99;
  background: svg-url($white, $selected-hover),
  svg-url($white, $selected),
  svg-url($white, $default-hover);
}
